html {
    margin: 0px;
    padding: 0px;
    top: 0;
}

body {
    margin: 0px 0px;
    padding: 0px;
    top: 0;
    font-family: Helvetica, sans-serif;
    background-color: rgba(20, 20, 20, 1);
    font-size: 16px;
    overflow-x: hidden;
}

header {
    background: linear-gradient(rgba(10, 10, 10, 1), rgba(20, 20, 20, 0));
    width: 100%;
    height: 65px;
    margin: 0px;
    top: 0;
    color: white;
    display: flex;
    position: fixed;
    z-index: 51;
}

.imgLogo {
    width: min(95px, 13vw);
    height: auto;
    padding: 0 10px;
    padding-top: 3px;
    margin-left: max(-2vw, -6px);
}

a {
    color: white;
    font-size: min(2vw, 0.9rem);
    text-decoration: none;
    padding: 0px em;
    margin-left: 8px;
    white-space: nowrap;
}

.leftLinksHeader {
    width: min(500px, 35vw);
    min-width: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: min(2.5vw, 50px);
}

.toRight {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-right: min(2.5vw, 50px);
    position: relative;
}

.rightMenuSearchImg {
    width: 20px;
    height: auto;
    margin-right: 5px;
}

.rightMenuNotifyImg {
    width: 23px;
    height: auto;
    margin-left: 6px;
}

.rightMenuSortDownImg {
    margin: 0px;
    padding: 0px;
    height: 13px;
    margin-left: 6px;
}

.rightMenuSortDownImg:hover {
    transform: rotate(-180deg) scale(1.2);
    transition: all .3s ease-in-out;
}

.rightMenuAvatarImg {
    width: 35px;
    height: auto;
    border-radius: 4px;
    border-width: 0;
}

.rightMenuHeader {
    width: min(170px, 15vw);
    min-width: min-content;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.rightMenuProfileContainer {
    margin-left: 14px;
    display: flex;
    align-items: center;
}

.teaserOverlay {
    display: flex;
    flex-direction: column;
    padding: min(4vw, 50px);
    padding-bottom: 0;
    justify-content: flex-end;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    height: max(35vw, 250px);
    max-height: 550px;
}

.teaserVideo {
    width: 100%;
}

.teaserVideoWrapper {
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    left: 0;
}

.teaserVideoWrapper:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 1));
    z-index: 0;

}

.seriesName {
    display: flex;
    flex-direction: column;
}

.rattibLogo {
    color: rgba(240, 240, 240, 1);
    font-size: min(15vw, 8rem);
    font-family: Impact;
    margin: 0px 0px;
    letter-spacing: -0.4rem;
}

.redFont {
    color: rgba(180, 20, 20, 1);
    font-size: min(16vw, 9rem);
}

.rattibLogo .smallFont {
    font-size: min(4vw, 3rem);
    font-weight: 100;
    letter-spacing: -0.2rem;
    margin-left: -1.5rem;
}

.overlayBtnsContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 40;
}

.overlayBtnsContainer button {
    border-radius: 5px;
    display: flex;
    border-width: 0;
    align-items: center;
    height: 3.3em;
    margin-right: 0.8em;
    justify-content: center;
}

.btnText {
    font-weight: 550;
    font-size: min(2.5vw, 1.1rem);
    text-align: center;
}

.btnImgPlay {
    width: 12%;
    height: auto;
    margin: 9px;
    margin-left: 0px;
}

.btnImgInfo {
    width: 12%;
    height: auto;
    margin: 9px;
    margin-left: 0px;
}

.btnOverlayPlay {
    width: min(180px, 25vw);
    height: auto;
    max-height: 100px;
    background-color: white;
}

.btnOverlayPlay:hover {
    background-color: rgba(255, 255, 255, .8)
}

.btnOverlayInfo {
    width: min(230px, 30vw);
    height: auto;
    max-height: 100px;
    background-color: rgba(110, 110, 110, .7);
    color: white;
}

.btnOverlayInfo:hover {
    background-color: rgba(110, 110, 110, .6)
}

.clickable {
    cursor: pointer;
}

.teaserDescription {
    width: min(65vw, 470px);
}

.topList,
.regularList {
    display: flex;
    flex-direction: column;
    height: 40%;
    margin-bottom: 15px;
}

.indexFont {
    font-size: min(3vw, 1.4rem);
    font-weight: 600;
    color: white;
}

.indexFont:hover:after {
    content: "Ver tudo ▷";
    animation: fadeIn .3s 1;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    position: relative;
    color: rgba(29, 166, 220, 1);
    left: 10px;
    text-align: center;
    cursor: pointer;
    bottom: 1px;
    font-weight: 150;
}

@keyframes fadeIn {
    0% {
        color: rgba(0, 0, 0, 0);
        left: -5px;
        font-size: 0rem;
    }

    100% {
        color: rgba(29, 166, 220, 1);
        left: 10px;
        font-size: 0.9rem;
    }
}

.descriptionFont {
    font-size: min(vw, 1.3rem);
    font-weight: 150;
    color: white;
}

.topListCarousel,
.regularListCarousel {
    display: flex;
    height: auto;
    align-items: flex-end;
}

.topListItem {
    display: flex;
    margin: 0px 15px;
    align-items: center;
    flex-shrink: 0;
    width: 10%;
}

.regularListItem {
    display: flex;
    align-items: center;
    margin-right: 1px;
}

.strokeFont {
    font-size: 220px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: gray;
    margin-bottom: -41px;
    margin-top: -41px;
    letter-spacing: -40px;
}

.topListImg {
    width: 115px;
    height: auto;
    border-radius: 0px 3px 3px 0px;
    margin-bottom: 8px;
}

.topListImg:hover,
.regularListImg:hover {
    transform: scale(1.15);
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, .7);
}

.mainContainer {
    margin: min(4vw, 50px);
    margin-bottom: 100px;
    margin-top: 0px;
    position: relative;
    top: 0;
    left: 0;
}

.regularListImg {
    width: 220px;
    height: 130px;
    margin-right: 6px;
    border-radius: 2px;
    object-fit: cover;
    object-position: center 41%;
}

footer {
    margin: 0 auto;
    color: gray;
    font-size: 13px;
    white-space: nowrap;
    width: min(60vw, 800px);
}

footer button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid gray;
    padding: 5px 10px;
    color: gray;
}

.footerMediaContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footerImg {
    width: 28px;
    height: auto;
    margin-right: 15px;
}

.footerInfoContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: top;
    flex-wrap: wrap;
    min-width: fit-content;
}

.footerInfo {
    width: 25%;
}

.smallFont {
    font-size: 11px;
    vertical-align: center;
    margin-top: 15px;
}

@media (max-width: 1000px) {
    .footerInfo {
        width: 50%;
        min-width: fit-content;
    }
}

@media (max-width: 2000px) {
    .topListItem {
        width: 13.5%;
    }
}

@media (max-width: 1500px) {
    .topListItem {
        width: 16.2%;
    }
}

@media (max-width: 1250px) {
    .topListItem {
        width: 20.5%;
    }
}

@media (max-width: 1100px) {
    .topListItem {
        width: 25%;
    }
}

@media (max-width: 950px) {
    .topListItem {
        width: 33%;
        min-width: fit-content;
    }
}